---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* Control wrapping inside code and hightlight blocks */
.highlight {
    white-space: pre-wrap;
}

.blockquote {
    white-space: pre-wrap;
}

.language-matlab{
  white-space: pre-wrap;
}
/* Footer links */
.centered-justified-links {
  text-align: justify;
  text-align-last: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0; /* Adjust the margin as needed to control the spacing */
}

.centered-justified-links a {
  flex: 0 0 auto;
  text-align: center;
  width: calc(20% - 10px); /* Adjust the width as needed */
  margin: 0 5px; /* Adjust the margin as needed to separate the links */
}

.post-navigation {
    display: flex;
    justify-content: space-between; /* This will put maximum space between the two items */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Audio container */
.audio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 12px;
}

.description, .audio-player {
  flex: 1;
  padding: 1rem;
}

.description {
  border-right: 1px solid #ddd;
  text-align: left;
}

.audio-caption {
  text-align: center;
}

audio {
  width: 100%;
}

.bottom-line {
  margin-bottom: 1rem;
}

.audio-related-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;  /* Space between the image and the audio player/description */
    max-width: 100%;   /* Ensures the image doesn't exceed container's width */
}
/* End of Audio container */

/* Text for body or page descriotions on the top */
.centered-bold {
  text-align: center;
  font-weight: bold;
}

.centered-normal {
  text-align: center;
}

.thumbnail {
    width: 100px;
    height: auto;
}

/* pictures in resources page */
.image-container {
    text-align: left;
    display: inline-block;
}

.picture-description {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Button */
.button-container {
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #08BCAA;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}